/* .incorrect-answer-container{
    display: flex;
    flex-direction:column;
    gap: 6rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 20%;
    height: 50px;
    margin:auto
} */
*{
    background-color:light gainsboro;

}
.question-box{
     border: 2px solid black;
    border-radius: 9px;
    background-color: antiquewhite;
    width: 70%;
    height: 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding:20px;
}

.answer-box{
     border: 2px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    width: 30%;
    height: 4rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer-box:focus{
    background-color: lightgreen;
}
.answer-box:hover{
    background-color: aquamarine;
    transform: scale(1.1);
    transition: 0.5s;
}
.check-answer{
    background-color: green;
    border-radius: 10px;
    color: white;
    width: 15%;
    height: 2rem;
    margin:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
