.category-card{
    width: 80%;
    height: 8rem;
    border-radius: 10px;
    background: #7a86f8;
    color: aliceblue;
    font-size: 1.4rem;
    margin: auto;
     cursor: pointer; display: flex;
    align-items: center;
    justify-content: center;
}
.choose-category{
    font-size: 2rem;
    font-family: sans-serif;
    background: #7a86f8;
    border-radius: 10px;
    color: aliceblue;
    width: 95%;
    margin: auto;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background: aqua;
    z-index: 2;
    filter: drop-shadow(.10em .10em 0.3em grey)
}
.category-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 2rem;
    margin-top: 2rem;
}